{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product details</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="background-color: rgb(120, 161, 107);">
                <div class="row">

                    {% for x in products %}
                    <div class="col-md-4">
                        <img src="{{x.piamge.url}}" alt="..." width="100%">
                    </div>

                    <div class="col=md-8">
                        <p><strong>Product Name:</strong> &nbsp; &nbsp; {{x.name}}</p>
                        <p><strong>Product Price:</strong> &nbsp; &nbsp;{{x.price}}</p>

                        {% if x.category == 1 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Assault Rifles</p>
                        {% elif x.category == 2 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Designated Marksman Rifles</p>
                        {% elif x.category == 3 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Sniper Rifles</p>
                        {% elif x.category == 4 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Shotguns</p>
                        {% elif x.category == 5 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Light Machine Guns</p>
                        {% elif x.category == 6 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Submachine Guns</p>
                        {% elif x.category == 7 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Pistols</p>
                        {% elif x.category == 8 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Crossbows</p>
                        {% elif x.category == 9 %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Melee Weapons</p>
                        
                        {% else %}
                        <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Throwables</p>
                        {% endif %}
              

                        <p><strong>Product Details:</strong> &nbsp; &nbsp; {{x.pdetails}}</p>

                        <a href="/addtocart/{{x.id}}"><button class="btn btn-info">Add to Cart</button></a>
                        <a href="/viewcart"><button class="btn btn-secondary">View Cart</button></a>
                        <a href="/home"><button class="btn btn-primary">Shop more</button></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>
</body>
</html>

{% endblock 'main' %}